.DS_Store 
Thumbs.db 
.vscode/ 
.idea/ 
*.iml 
campus-ride-app/node_modules/ 
campus-ride-app/build/ 
campus-ride-app/.env 
campus-ride-app/.env.* 
campus-ride-app/npm-debug.log* 
campus-ride-app/yarn-debug.log* 
campus-ride-app/yarn-error.log* 
logs/ 
*.log 
coverage/ 
*.lcov 
server-spring/target/ 
server-spring/.classpath 
server-spring/.project 
server-spring/.settings/ 
server-spring/*.log 
.gradle/ 
build/ 
ehthumbs.db 
$RECYCLE.BIN/ 
*.swp 
*.swo 
